body {

    background-color: black;
    margin: 0;
}

.header {

    position: absolute;
}

.nav-bar {

    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 4em;
    justify-content: space-between;
}

.nav-list {

    display: flex;
}



.nav-list a {

    display: block;
    color: white;
    list-style: none;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    justify-content: center;
}

.nav-list a:hover {

    color: rgb(216, 0, 115);
}


.logo-comp  .logo-port {

    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 8px;
    margin-left: 2em;
    text-decoration: none;
}

.logo-port {

    text-decoration: none;
}
.logo-port {

    color: white;
}

.lio {

    color: rgb(216, 0, 115);
}


.logo-comp .logo-port:hover {

    color: rgb(216, 0, 115);
}




.nav-btn a .btn-anim {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    background-color: rgb(216, 0, 115);
    border-radius: 1em;
    border-style: none;
    width: 7em;
    height: 2em;
}


.nav-btn a {

    text-decoration: none;
    padding-bottom: 5px;
}

.nav-btn a .btn-anim:hover {

    cursor: pointer;
}

.nav-btn .btn-anim:hover {

    animation: btn-anim 2s ease 0s 1 normal forwards;
}


@keyframes btn-anim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}


.nav-btn-brg {

    display: none;
}


@media (max-width: 1000px) {

    .nav-btn-brg {

        display: flex;
        border: none;
        font-size: 4em;
        background-color: rgb(216, 0, 115);
        color: white;
        cursor: pointer;
        border-radius: 5px;
        max-width: 1em;
        max-height: 1em;
        align-items: center;
        justify-content: center;
    }


    .nav-list,
    .nav-btn {

        display: none;
    }



    .drop:hover .nav-list {

        display: block;
        position: absolute;
        right: 0;
    }
}

